 
.Home{ 
  
height: 30rem;  
}
.title{  
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right:1px solid #3333;
    margin-top: 10rem;
    color: var(--main-color);
    animation: typing 3s  forwards steps(27) , blink infinite 0.7s;
  }
  @keyframes typing{
   from {
     width: 0;
   }
   to{
     width:535px;
   }
  }
  @keyframes blink{
   from{
     border-color:#333333bd ;
   }
   to{
     border-color: #33333300;
   }
  }
  /* .animated_glow_divider {
    height: 1px;
    width: 80%;
    margin: 30px auto;
    background: linear-gradient(90deg, transparent,#6e7da5, transparent);
    animation: glow_animation 1.5s infinite alternate;
}

@keyframes glow_animation {
    0% { box-shadow: 0 0 10px #6e7da5; }
    100% { box-shadow: 0 0 20px #6e7da5, 0 0 30px #6e7da5; }
} */
 